<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ .Content }}

		<div class="recent-posts section">
			<h2 class="section-header">
				Recent posts
			</h2>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ range first 4 $pages }}
				<div class="post">
					<div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
					<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a> 
					{{ with .Description }}
					<span class="description">
						&mdash; {{ . }}
					</span>
					{{ end }}
				</div>
				{{ end }}
				{{/* {{ template "partials/paginator.html" . }} */}}
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
